.draggable {
    width: 300px;
    height: 400px;
    background-color: blue;
    position: absolute;
}
.fixed {
    position:fixed;
}
.parent {
    min-height: 200vh;
}
#div1 {
    background-color: red;
}
#div2 {}
#div3 {
    background-color:orange;
}
